{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "sort-keys": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
    //   "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}
